#XgenElement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}

.product > a > img {
  width: 300px;
}

.product > a {
  text-decoration: none;
}

.product {
  margin: 20px 10px;
}

.product:hover .prod-name {
  text-decoration: underline;
}

.product:hover img {
  opacity: .7;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 600;
}

.prod-name {
  color: #3d4246;
  margin: 5px 0px;
}

.manufacturer {
  font-size: 12px;
  color: gray;
  margin: 5px 0px;
}

.price {
  color: #676e76;
  margin: 5px 0px;
}
